---
import Layout from '../layouts/Layout.astro';
import LeftArrow from '../components/LeftArrow.astro';
---

<Layout title="AlphaTree">
	<main>
		<LeftArrow url="/" />
		<center><h1 class="m-8"><span class="text-gradient">360 516 8933</span></h1></center>

        <center><p>Coming soon.</p></center>
        <center><p>This feature has not been implemented yet.</p></center>

		
        
		
	</main>
</Layout>

<style>
	:root {
		/* --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4); */
		--astro-gradient: linear-gradient(0deg, #301fb1, #6f94da);
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 90ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
</style>
		