---
// import { Image, Picture } from '@astrojs/image/components';
import Banner from '../images/curt2.avif';
---

<div class="container mx-auto px-4">
    <img
        class="border-2 border-black rounded-lg"
        src={Banner}
        alt="AlphaTree Service"
    />
</div>
<!-- <Picture aspectRatio="16:9" src={banner} widths={[200, 400, 800]} sizes="(max-width: 800px) 100vw, 800px" alt="descriptive text" /> -->
