---
const { iLI } = Astro.props;
---

<>
    {
        iLI ? (
            <button
                id="signOutBtn"
                class="text-wite mb-5 bg-blue-400 pt-2.5 pb-2.5 pr-4 pl-4 rounded-lg"
            >
                SignOut
            </button>
        ) : (
            <a href="/admin/signin">
                <button
                    id="signInBtn"
                    class="text-wite mb-5 bg-blue-400 pt-2.5 pb-2.5 pr-4 pl-4 rounded-lg"
                >
                    SignIn
                </button>
            </a>
        )
    }
</>

<script>
    import { getSetCookiesFromResponse } from "astro/dist/core/cookies";

    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
        let expires = "expires=" + d.toUTCString();
        document.cookie =
            cname + "=" + cvalue + ";" + expires + ";path=/; SameSite=Lax";
    }
    
    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(";");
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == " ") {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    async function signOut(uid) {
        const u = "http://192.168.0.90:9090/signout?creds=" + uid;
        const url = encodeURI(u);
        const resp = await fetch(url);
        const res = await resp.json();
        return res;
    }

    const button = document.getElementById("signOutBtn");
    button.addEventListener("click", () => {
        const uid = getCookie("UID");
        signOut(uid);
        setCookie("isloggedin", "false", 7);
    });
</script>
