---
import V1 from "../images/logdrop_overlay.avif"
import V2 from "../images/smallrigout_overlay.avif"
---

<ul role="list" class="grid grid-cols-2 gap-8 pb-5">
    <li>
        <a href="/vid/logdropvideopage">
            <img class="w-60 max-w-xs mx-auto rounded-lg" src={V1}>
        </a>
        
    </li>
    <li>
        <a href="/vid/smalltopoutvidpage">
            <img class="w-60 max-w-xs mx-auto rounded-lg" src={V2}>
        </a>
    </li>
</ul>