---
import Layout from "../../layouts/Layout.astro";
import LeftArrow from "../../components/LeftArrow.astro";
---

<Layout title="SignIn">
    <main class="m-auto p-8 max-w-screen-lg">
        
        <center><h1 class="text-white text-5xl">Sign Up</h1></center>
        <LeftArrow url="/admin/signin" />

        <form class="mx-auto" action="" method="get">
            <center><label for="email">Email:</label></center>
            <center
                ><input
                    class="input[type='text'] text-white bg-slate-600 rounded-lg h-10 w-9/12"
                    type="text"
                    id="email"
                    name="email"
                    placeholder="boo@mail.com"
                />
            </center>

            <br /><br />

            <center><label for="pwd">Password:</label></center>
            <center
                ><input
                    class="input[type='text'] text-white bg-slate-600 rounded-lg h-10 w-9/12"
                    type="text"
                    id="pwd"
                    name="pwd"
                    placeholder="password"
                />
            </center>

            <br /><br />

            <center>
                <a href="/">
                    <button
                        id="signupbtn"
                        class="bg-slate-600 h-14 w-44 text-white rounded-lg"
                        type="button"
                        name="signinbtn"
                    >
                        Submit
                    </button>
                </a>
            </center>

            <br /><br />
        </form>
    </main>
</Layout>

<script>
    const email = document.querySelector('input[name="email"]');
    const password = document.querySelector('input[name="pwd"]');
    const button = document.querySelector('input[name="signupbtn"]');
    button.addEventListener("click", () => {

    })

</script>